<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>原烹</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../css/com.css"/>
<link rel="stylesheet" type="text/css" href="../css/btn_style.css"/>
<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../js/time_js.js"></script>
<script type='text/javascript' src='../js/jquery.modal.js'></script>
<script type='text/javascript' src='../js/ktimer3.js'></script>
<script type="text/javascript">
var Gcaitime=5;
var Gvname='js';
var Gpcai='01';
var Gscly=0;
var Gshowtype='all';
var shell_sta='9';
var running_sta='9';
var sta_running=true;
var video_onoff=true;
var sta_main=true;
var sta_slave=true;
var sta_shaokao=true;
var sta_wat=true;
var sta_huixi=true;

$(document).ready(function(){  
	$('#timep').pietimer({seconds: Gcaitime},function(){timesup();})
    $(".runscr").css("display","none");
	//$("#run_type").html($("#run_type_def").html());

    $('#cntBtn').modal({
        trigger:'#cntBtn', // id or class of link or button to trigger modal
        olay:'div.overlay', // id or class of overlay
        modals:'div#modal1', // id or class of modal
        close:'.closeBtn' // id or class of close button
    });
    $('.modalLink2').modal({
        trigger:'.modalLink2',
        olay:'div.overlay',
        modals:'div#modal2',
        close:'.closeBtn'
    });
    $('#setBtn').modal({
        trigger:'#setBtn',
        olay:'div.overlay',
        modals:'div#modal3',
        close:'.closeBtn'
    });
	
  $("#setMtimebtn").click(function(){
	  if(running_sta==true){return false;}
	  var cctime=parseInt($('#setMtime').val()); 
	  if(isNaN(cctime)){return false;}
	  if(cctime>990){return false;}
	  Gcaitime=cctime;
	  $('#timep').pietimer({seconds:Gcaitime},function(){timesup();})
	  $('div.overlay').hide();
	  $('div.modal').hide();
	  return false;
  });
	
  $(".scr_div").click(function(){
	  if(running_sta==true){return false;}
	  $(".scr_div").css("background-image","none");
	  $(".item_div").css("display","block");
	  $("#addtime").css("display","none");	  
	  $(".scr_div").scrollTop(Gscly);
	  //$(".menubtn").prop("disabled",false);
	  //$(".menubtn:eq(1)").prop("disabled",true);	  
	  do_show_cai_class();
	  return false;
  });

  $(".imgzone").click(function(){
	  if(running_sta==true){return false;}
	  Gcaitime=$(this).parent().attr("caitime");
	  $('#timep').pietimer({seconds: Gcaitime},function(){timesup();})
	  Gvname=$(this).parent().attr("vname");
	  Gpcai=$(this).parent().attr("bgp");
	  $(".scr_div").css("background-image","url('"+Gpcai+"')");
	  Gscly=$(".scr_div").scrollTop();
	  $(".item_div").css("display","none");
	  $("#addtime").css("display","block");	  
	  
	  caiclass=$(this).parent().attr("caiclass");
	  if(caiclass=='30'){
		  $("#run_type").empty();
		  return false;
	  }
	  /*if(caiclass=='50'){//汤品
		  $("#run_type").empty();
		  return false;
	  }*/
	  if(caiclass!='40'&&caiclass!='80'){caiclass='def';}
	  $("#run_type").html($("#run_type_"+caiclass).children().clone(true));
	  return false;
  });

  $(".selzone").click(function(){
	  $(this).toggleClass("myselcai");
	  return false;
  });
  $("#addtime").click(function(){
	  if(running_sta==false){return false;}
	  $.post('sta',{p:$('#pwd').val(),m:'addtime',d:20},function(r){
		  //alert('add');
		  $('#timep').pietimer('pause');
	  
		  var cctime=$('#timep').text(); 
		  cctime=cctime.substring(0,cctime.length-2); 
		  cctime=parseInt(cctime); 
		  if(isNaN(cctime)){
			cctime=1;
		  }
		  Gcaitime=cctime+20;
		  
		  $('#timep').pietimer({seconds: Gcaitime},function(){timesup();})
		  $('#timep').pietimer('start');
	  });
	  return false;
  });
  
  $("#btnsk_big_stm").click(function(){
	  if(sta_main){
		$(this).val('蒸汽 关').addClass("running");
		
		//doon(this);		
		$('#timep').pietimer('start');
		sta_running=false;
		$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'zq',t:Gcaitime},function(r){});		
		//$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'zq',t:1},function(r){});
	  }else{
		$(this).val('蒸汽 开').removeClass("running");
		
		$('#timep').pietimer('pause');		
		var cctime=$('#timep').text(); 
		cctime=cctime.substring(0,cctime.length-2); 
		cctime=parseInt(cctime); 
		if(isNaN(cctime)){
		  cctime=1;
		}
		Gcaitime=cctime;
	  
		$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'zq'},function(r){});
	  }
	  sta_main=!sta_main;	
	  return false;
  });
  $(".btn_bw").click(function(){
	  if(sta_slave){
			$(".btn_bw").val('保温 关').addClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'bw',t:1},function(r){});
	  }else{
			$(".btn_bw").val('保温 开').removeClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'bw'},function(r){});
	  }
	  sta_slave=!sta_slave;
	  return false;
  });
  $("#btnsk_sk").click(function(){
	  if(sta_shaokao){
		$(this).val('烧烤 关').addClass("running");
		$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'sk',t:1},function(r){});
	  }else{
		$(this).val('烧烤 开').removeClass("running");
		$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'sk'},function(r){});
	  }
	  sta_shaokao=!sta_shaokao;
	  return false;
  });
  
  $(".btn_xf").click(function(){
		if(sta_huixi){
			$(".btn_xf").val('吸风 关').addClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'hx',t:1},function(r){});
		}else{
			$(".btn_xf").val('吸风 开').removeClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'hx'},function(r){});
		}
		sta_huixi=!sta_huixi;
		return false;
  });

  
  $("#btnqg_zq").click(function(){
	  if(!sta_slave){
			$("#btnqg_bw").val('保温 开').removeClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'bw'},function(r){});
			sta_slave=!sta_slave;
	  }
	  if(sta_main){
			$(this).val('蒸汽 关').addClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'ms',t:1},function(r){});
	  }else{
			$(this).val('蒸汽 开').removeClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'ms'},function(r){});
	  }
	  sta_main=!sta_main;
	  return false;
  });  
  $("#btnqg_bw").click(function(){
	  if(!sta_main){
			$("#btnqg_zq").val('蒸汽 开').removeClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'ms'},function(r){});
			sta_main=!sta_main;
	  }
	  if(sta_slave){
			$(this).val('保温 关').addClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'bw',t:1},function(r){});
	  }else{
			$(this).val('保温 开').removeClass("running");
			$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'bw'},function(r){});
	  }
	  sta_slave=!sta_slave;
	  return false;
  });  
  $("#btnqg_wat").click(function(){
	  if(sta_wat){
			$(this).val('上水 关').addClass("running");
			//$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'ls',t:1},function(r){});
			$.post('sta',{p:$('#pwd').val(),m:'pump2',spd:100},function(r){});
	  }else{
			$(this).val('上水 开').removeClass("running");
			//$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'ls'},function(r){});
			$.post('sta',{p:$('#pwd').val(),m:'pump2',spd:0},function(r){});
	  }
	  sta_wat=!sta_wat;
	  return false;
  });
  $(".btn_end").click(function(){
		dooff();
		return false;
  });
  
  $(".vdbtn").click(function(){
	if(video_onoff){
		$(".vdbtn").val('停止播放').addClass("running");
		$.post('video',{p:$('#pwd').val(),m:'play',d:Gvname,i:Gpcai},function(r){});
	}else{
		$(".vdbtn").val('播放视频').removeClass("running");
		$.post('video',{p:$('#pwd').val(),m:'stop',i:Gpcai},function(r){});
	}
	video_onoff=!video_onoff;
	  return false;
  });

});
function timesup(){
	$('#els_time').text('时间到');
	running_sta=false;
	shell_sta=false;
	sta_running=true;
	
	if(!sta_main){//烧烤模式不回原界面
		$("#btnsk_big_stm").val('蒸汽 开').removeClass("running");
		sta_main=true;
		return false;
	}
	
	$('#btn_bw').removeAttr("disabled");		
	$(".scr_div").css("background-image","none");//完成后回到原界面
	$(".item_div").css("display","block");
	$(".scr_div").scrollTop(Gscly);
	do_show_cai_class();
}
function doon(ckbtn){
	if($(".scr_div").css("background-image")=="none"){return false;}
	$('#myaudio').attr('src','voice/kqpr.mp3');
	myaudio.play();
	$('#timep').pietimer('start');
	//if(running_sta=='0'){
		sta_running=false;
		$('.btn_bw').attr("disabled","disabled");
		$.post('sta',{p:$('#pwd').val(),m:'gpioon',d:'fm',t:Gcaitime},function(r){});
	//}
	return false;
}

function dooff(){	
	$('#btnsk_sk').val('烧烤 开').removeClass("running");
	$('#btnsk_sml_stm').val('保温 开').removeClass("running");
	$('#btnsk_big_stm').val('蒸汽 开').removeClass("running");
	$('#btnqg_zq').val('蒸汽 开').removeClass("running");
	$('#btnqg_bw').val('保温 开').removeClass("running");
	$('#btnqg_wat').val('上水 开').removeClass("running");
	$('.btn_bw').val('保温 开').removeClass("running");
	$('.btn_xf').val('吸风 开').removeClass("running");
	$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'all'},function(r){});
	sta_main=true;
	sta_slave=true;
	sta_wat=true;
	sta_shaokao=true;
	sta_huixi=true;
	$.post('sta',{p:$('#pwd').val(),m:'pump2',spd:0},function(r){});
		
	$('#timep').pietimer('pause');
	$('#myaudio').attr('src','voice/prjsjqpc.mp3');
	myaudio.play();
	  
	var cctime=$('#timep').text(); 
	cctime=cctime.substring(0,cctime.length-2); 
	cctime=parseInt(cctime); 
	if(isNaN(cctime)){
		cctime=1;
	}
	Gcaitime=cctime;
	
	//if(running_sta=='1'){
		sta_running=true;
		$('.btn_bw').removeAttr("disabled");
		//$.post('sta',{p:$('#pwd').val(),m:'gpiooff',d:'fm'},function(r){});
	//}
	
	//if(sta_slave==false){slave_on_off('');}
	return false;
}
function getSta(){
	clearInterval(ws);
	$.post('sta',{p:$('#pwd').val(),m:'sta',d:453},function(r){
		var rj=JSON.parse(r);
		shell_sta=rj.shell_sta;
		//running_sta=rj.running_sta;
		if(!sta_shaokao||!sta_slave||!sta_main||!sta_running){
			running_sta=true
		}else{
			running_sta=false
		};
		if(rj.sta_video==1){
			$(".vdbtn").val('停止播放').addClass("running");
			video_onoff=false;
		}else{
			$(".vdbtn").val('播放视频').removeClass("running");
			video_onoff=true;
		};
		tempture1=rj.tmp1+40;
		$("#namescreen").text(tempture1.toFixed(1));
		update_sta();
		ws=setInterval("getSta()", 500);
	}).error(function(){ 
		disconnect();
	});
}
function update_sta(){
	if(shell_sta=='2'){
		//$('#onoff').prop("disabled",false);
	}
	if(running_sta==false){
		$('.disable_when_running').removeAttr("disabled");
	}
	if(running_sta==true){
		$('.disable_when_running').attr("disabled","disabled");
	}  
}
function shell_up(){
	$('audio').attr('src','voice/qzyggjjsq.mp3');
	myaudio.play();
	$.post('sta',{p:$('#pwd').val(),m:'shell',d:'up'},function(r){});
}
function shell_dw(){
	$('audio').attr('src','voice/qzyggjjhs.mp3');
	myaudio.play();
	$.post('sta',{p:$('#pwd').val(),m:'shell',d:'dw'},function(r){});
}
function liusui_on_off(obj,speed){
	$('#btnqg_big_wat').prop("disabled",false);
	$('#btnqg_sml_wat').prop("disabled",false);
	$('#btnqg_off_wat').prop("disabled",false);
	$.post('sta',{p:$('#pwd').val(),m:'pump2',spd:speed},function(r){
		if(r.b==100){
			$(obj).prop("disabled",true);
		}else if(r.b==50){
			$(obj).prop("disabled",true);
		}else{
			$(obj).prop("disabled",true);
		}
	});
}
function do_show_setting(){
	$.post('setting',{m:'r'},function(r){
		var rj=JSON.parse(r);
		if(rj.p!='ok'){			
			$('#t1').val(1);
			$('#t2u').val(3);
			$('#t2d').val(2);
			$('#t3').val(1);
			return;
		}
		$('#t1').val(rj.t1);
		$('#t2u').val(rj.t2u);
		$('#t2d').val(rj.t2d);
		$('#t3').val(rj.t3);
	});
	return;
}
function do_save_setting(){
	$.post('setting',{
		m:'w',
		p:$('#setting_pwd').val(),
		t1:$('#t1').val(),
		t2u:$('#t2u').val(),
		t2d:$('#t2d').val(),
		t3:$('#t3').val()
	},function(r){
		var rj=JSON.parse(r);
		if(rj.p!='ok'){
			$('#setting_save_btn').val('密码错');
			return;
		}
	$('#setting_save_btn').val('保存');
	$('div.overlay').hide();
	$('div.modal').hide();
	});
	return;
}
function show_cai_class(showtype,cbtn){
	if(running_sta==true){return false;}
	$(".scr_div").css("background-image","none");
	//$(".menubtn").prop("disabled",false);
	//$(cbtn).prop("disabled",true);
	$(".menubtn").removeClass("classsel");
	$(cbtn).addClass("classsel");
	$(".scr_div").scrollTop();
	Gshowtype=showtype;
	do_show_cai_class();
}
function do_show_cai_class(){
	showtype=Gshowtype;
	$(".item_div").css("display","none");
	$("#addtime").css("display","none");
	switch (showtype){
	case 'my':
		$(".myselcai").parent().css("display","block");
	break;
	case 'all':
		$(".item_div").css("display","block");
	break;
	case '10':
		$(".caiclass10").css("display","block");
	break;
	case '20':
		$(".caiclass20").css("display","block");
	break;
	case '30':
		$(".caiclass30").css("display","block");
	break;
	case '40':
		$(".caiclass40").css("display","block");
	break;
	case '50':
		$(".caiclass50").css("display","block");
	break;
	case '60':
		$(".caiclass60").css("display","block");
	break;
	case '70':
		$(".caiclass70").css("display","block");
	break;
	case '80':
		$(".caiclass80").css("display","block");
	break;
	}
}
</script>
</head>
<body>
<div class="left_div">
  <div class="class_div">
    <div style="height:10px"></div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="已选菜品" onClick="show_cai_class('my',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn classsel" value="全部分类" onClick="show_cai_class('all',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="冰烹" onClick="show_cai_class('10',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="原烹" onClick="show_cai_class('70',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="味烹" onClick="show_cai_class('60',this)">
    </div>
<!--    <div class="classbtn_div">
        <input type="button" class="menubtn" value="冷菜" onClick="show_cai_class('30',this)">
    </div>-->
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="汤品" onClick="show_cai_class('50',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="点心甜品" onClick="show_cai_class('20',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="泉锅" onClick="show_cai_class('40',this)">
    </div>
    <div class="classbtn_div">
        <input type="button" class="menubtn" value="烧烤" onClick="show_cai_class('80',this)">
    </div>
  </div>
</div>
<div class="mid_div">
  <div class="scr_div">
  {% for values in caifiles %}
      <div class="item_div caiclass{{values.1}}" 
       style="background-image:url('imagetmb/{{values.0}}')" bgp="image/{{values.5}}.jpg" 
       caiclass="{{values.1}}" caitime="{{values.3}}" vname="{{values.4}}">
          <div class="imgzone" style="height:80%"></div>
          <div class="selzone">
              {{values.2}} {{values.3}} 秒
          </div>
      </div>
  {% endfor %}
    	<input type="button" id="addtime" class="abtn" style="width:100%; display:none" value="增加20秒">
  </div>
</div>
<div class="right_div">
  <div class="ctrl_div">  
    <div style="padding-bottom:10px;height:13%">
    	<span id="namescreen" class="namescreen" style="width:30%">v7</span> ℃ &nbsp; &nbsp;
    	<input type="button" id="cntBtn" class="abtn disable_when_running " style="width:30%" value="连接">
    	<input type="button" id="setBtn" class="abtn disable_when_running " style="width:30%" value="设置" onClick="do_show_setting()">
    </div>
    <div class="btn_div runscr modalLink2" style="height:22%">
      <p id="timep"></p>            
    </div>
    <div id="run_type" style="height:65%"></div>    
  </div>
</div>

<div class="overlay"></div>
<div class="modal" id="modal1">
    <div class="closeBtn">关闭&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="modal_cnt">密码： <input type="text" id="pwd" placeholder="请输入密码" value=""/></div>
	<div class="modal_cnt">
      <input type="button" id="connect" style="width:40%" class="menubtn connect" value="连接">&nbsp;|&nbsp;状态:
      <span id="status">未连接</span>
    </div>
</div>
<div class="modal" id="modal2">
    <div class="closeBtn">注意：在运行中无法设置手动时间&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请设置小于990秒&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="modal_cnt">手动设置时间： 
      <input type="number" id="setMtime" max='999' placeholder="请输入时间" value=""/>&nbsp;&nbsp;秒
      <input type="button" id="setMtimebtn" style="width:20%" class="menubtn disable_when_running" value="设置">
  </div>
</div>
<div class="modal" id="modal3" style="width:80%">
    <div class="closeBtn">关闭&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="modal_cnt">
	启动(毫秒)： <input type="number" id="t1" placeholder="输入时间ms" value=""/>
	向上全速(毫秒)： <input type="number" id="t2u" placeholder="输入时间ms" value=""/>
    <br />
	停止(毫秒)： <input type="number" id="t3" placeholder="输入时间ms" value=""/>
	向下全速(毫秒)： <input type="number" id="t2d" placeholder="输入时间ms" value=""/>
	</div>
    <div class="modal_cnt">密码： <input type="text" id="setting_pwd" placeholder="请输入密码" value=""/>
      <input type="button" id="setting_save_btn" style="width:20%" class="menubtn" value="保存" onClick="do_save_setting()">
    </div>
</div>
<div class="modal" id="caitmp"></div>
<div id="run_type_def" style="display:none">
    <div class="btn_div runscr">
        <input type="button" class="abtn disable_when_running" value="盖子 开" onClick="shell_up()">
        <input type="button" class="abtn disable_when_running" value="盖子 合" onClick="shell_dw()">
    </div>
    <div class="btn_div runscr">
        <input type="button" id="btnon" class="abtn disable_when_running" value="开始" onClick="doon(this)">
        <input type="button" class="abtn btn_bw" value="保温">
    </div>
    <div class="btn_div runscr">
        <input type="button" class="abtn btn_end" value="结束" >
    </div>
    <div class="btn_div runscr">
      <input type="button" class="abtn btn_xf" value="吸风">
      <input type="button" class="abtn vdbtn" value="播放视频">
    </div>
</div>
<div id="run_type_40" style="display:none">
    <div class="btn_div runscr">
        <input type="button" class="abtn" value="盖子 开" onClick="shell_up()">
        <input type="button" class="abtn" value="盖子 合" onClick="shell_dw()">
    </div>
    <div class="btn_div runscr">
        <input type="button" id="btnqg_zq" class="abtn " value="蒸汽">
        <input type="button" id="btnqg_bw" class="abtn " value="保温">
    </div>
    <div class="btn_div runscr">
        <input type="button" id="btnqg_wat" class="abtn" value="上水">
        <input type="button" class="abtn btn_end" value="结束">
    </div>
    <div class="btn_div runscr">
      <input type="button" class="abtn btn_xf" value="吸风">
      <input type="button" class="abtn vdbtn" value="播放视频">
    </div>
</div>
<div id="run_type_80" style="display:none">
    <div class="btn_div runscr">
        <input type="button" class="abtn" value="盖子 开" onClick="shell_up()">
        <input type="button" class="abtn" value="盖子 合" onClick="shell_dw()">
    </div>
    <div class="btn_div runscr">
        <input type="button" id="btnsk_big_stm" class="abtn "value="蒸汽">
        <input type="button" class="abtn btn_bw" value="保温">
    </div>
    <div class="btn_div runscr">
        <input type="button" id="btnsk_sk" class="abtn " value="烧烤">
        <input type="button" class="abtn btn_end" value="结束">
    </div>
    <div class="btn_div runscr">
      <input type="button" class="abtn btn_xf" value="吸风">
      <input type="button" class="abtn vdbtn" value="播放视频">
    </div>
</div>
<audio id="myaudio" src="voice/prjsjqpc.mp3" >audio tag</audio>
</body>
</html>
